<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.decop">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DecoP"
        tools:targetApi="31">
        <activity
            android:name=".parametre"
            android:exported="false" />
        <activity
            android:name=".Deconnexion"
            android:exported="false" />
        <activity
            android:name=".ui.login.message"
            android:exported="false"
            android:label="@string/title_activity_message" />
        <activity
            android:name=".ajoutexpe"
            android:exported="false" />
        <activity
            android:name=".home_entreprise"
            android:exported="false" />
        <activity
            android:name=".sup_compte"
            android:exported="false" />
        <activity
            android:name=".confidentialite"
            android:exported="false" />
        <activity
            android:name=".securite"
            android:exported="false" />
        <activity
            android:name=".centreaide"
            android:exported="false" />
        <activity
            android:name=".devcontactes"
            android:exported="false" />
        <activity
            android:name=".apropos"
            android:exported="false" />
        <activity
            android:name=".connexion_deco"
            android:exported="false" />
        <activity
            android:name=".clientdecorateur"
            android:exported="false" />
        <activity
            android:name=".iinscriptionDeco"
            android:exported="false" />
        <activity
            android:name=".connexionC"
            android:exported="false" />
        <activity
            android:name=".inscriptionC"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>